/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin: auto;
    max-width: 1440px;
    padding: 0 50px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    flex: 1 0 27%;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}


/* my work -> */

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 33px 0;
}

.hebergements-cards img {
    width: 100%;
    height: 140px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-subtitle {
    margin: 5px 0px;
    font-size: 14px;
}

.hebergements-cards .card-rating .fa-solid {
    font-size: 0.90em;
}

.hebergements-cards .card-content {
    margin: -10px 0px 10px 10px;
} 

.hebergements-cards a {
    flex: 1 0 27%;
}

.hebergements .more {
    font-weight: bold;
}

/* <- my work */



/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/***** SECTION 3 ACTIVITE A MARSEILLE *****/

.activites-a-marseille {
    padding: 50px 0px;
}

.activites-a-marseille h2 {
    margin-bottom: 20px;
    color: #333;
}

.activites-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
}


.activites-a-marseille .card {
    width: 338px; 
    height: auto;
    background-color: #fff;
    border-radius: 20px;
    padding: 0;
    overflow: hidden;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.1));  
}

.activites-a-marseille .card img {
    width: 100%;
    height: 420px;
    object-fit: cover;
}

.activites-a-marseille .card-title {
    padding: 10px 20px;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .filtres {
        flex-direction: column;
    }



    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-card .card {
        max-width: 216px;
        max-height: 270px;
     } 

     .activites-card .card img {
        height: 200px;
     }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}




header {
    display: flex;
    justify-content: space-between;
}

header img {
    max-width: 61.05px;
    margin: 20px 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 68px;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: #0065FC;
    border-top: solid 1px #0065FC;
    padding-top: 14px;
}

footer {
    background-color: #F2F2F2;
    display: flex;
}

footer h2 {
    font-size: medium;
}

footer ul {
    font-size: medium;
    list-style-type: none;
    padding: 0;
}

nav li {
    border-top: 1px solid transparent;
    padding-top: 14px;
}

footer article {
    flex: 1;
    margin: 10px 20px;
}

footer li { 
    padding: 10px 0px;
}

.informations {
    border: 1px solid #DEEBFF;
    padding: 6px 11px;
    color: #0065FC;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
}

h1 {
    font-size: 22px;
    margin-bottom: -10px;
}

h2 { 
    font-size: 16px;
}

.recherche {
    display: flex;
    margin-bottom: 30px;
    margin-top: 30px;
}

.fa-location-dot {
    border: 1px solid #F2F2F2 ;
    border-radius: 15px 0px 0px 15px;
    color: black;
    background-color: #F2F2F2;
    padding: 11px 13px;
}

.recherche input {
    border: 1px solid #F2F2F2;
    padding: 10px 0px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}

.recherche button {
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    padding: 10px;
    font-weight: 700;
    font-size: 16px;
}

.recherche ::placeholder {
    color: black;
}

.filtres {
    display: inline-flex;
}

.filtres button {
    border: 2px solid #d9d9d9;
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px;
    font-weight: 700;
    font-size: 15px;
    gap: 8px;
    display: flex;
    align-items: center;
}

.filtres button:hover {
    background-color: #DEEBFF;
}

.filtres h2 {
    margin-right: 10px;
}



